{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create/Edit contact</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form|crispy }}
        {% if messages %}
        <ul class="messages my-color">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
