
{% extends '_helpers/_base.html' %}
{% block content %}
    <ul class="list-group">
      <li>
        {% if contacts.avatar %}
            <img src="{{ contacts.avatar.url }}" alt="Avatar">
        {% endif %}
     </li>
       <li class="list-group-item">
           <label class="label-class">Name:</label>
          <span class="field-class"> {{ contacts.name }}</span>
       </li>
        <li class="list-group-item">
             <label  class="label-class">Phone:</label>
            <span  class="field-class"> {{ contacts.phone }}</span>
        </li>
          <li class="list-group-item">
             <label  class="label-class">Provider:</label>
            <span  class="field-class"> {{ contacts.provider }}</span>
        </li>
        <li class="list-group-item">
              <label  class="label-class">Modified at:</label>
            <span  class="field-class">{{ contacts.modified_at }}</span>
        </li>
    </ul>
    <div class="my-class-padding">
        <a href="{% url 'contacts:list'%}"><button class="btn-primary">Back</button></a>
    </div>
{% endblock %}