
{% extends '_helpers/_base.html' %}
{% block content %}
  <a href="{% url 'contacts:create' %}">
        <button class="btn btn-success">
            Create contact
        </button>
  </a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Modified at</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     {% for contact in contacts %}
    <tr>
       <td>
          {% if contact.avatar %}
            <img class="my-avatar" src="{{ contact.avatar.url }}" alt="Avatar">
          {% endif %}
       </td>
       <td>
           <a href="{% url 'contacts:info'  pk=contact.id%}"><span>{{ contact.name }}</span></a>
       </td>
        <td>
            <span>{{ contact.phone }}</span>
        </td>
        <td>
            <span>{{ contact.modified_at }}</span>
        </td>
        <td>
        <form action="/edit/{{ contact.id }}" method="post">
            {% csrf_token %}
            <input type="hidden" name="uuid" value="{{ contact.id }}"/>
            <input type="submit" class="btn btn-primary" value="Edit">
        </form>
        </td>
         <td>
           <form action="/delete/" method="post">
               {% csrf_token %}
                <input type="hidden" name="uuid" value="{{contact.id}}" />
               <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </td>
    </tr>

     {% endfor %}
  </tbody>
</table>
{% endblock %}
