.my-class-padding {
    display: flex;
    padding: 5px;
}
.label-class {
    color:grey;
}

.field-class {
    color: darkred;
}
.my-color{
    color:red;
}
.my-avatar > img {
    width: 2em;
    height: 2em;
}
